<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Выберите рецепт блюда</h1>
    <form method="get">
        <label for="servings">Количество персон:</label>
        <input type="number" id="servings" name="servings" value="{{ servings }}">
        <button type="submit">Применить</button>
    </form>
    {% for key, value in DATA.items %}
        <a href="{{ key }}?servings={{ servings }}">{{ key }}</a>
        <br>
    {% endfor %}
</body>
</html>
